
.container{
    display:block;
    height:100%;
    background-color:rgb(223, 223, 223)
}
.hotSpotComponent{
    position:absolute;
    display:block;
    visibility:hidden;
    
}
.hotSpotText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    background-color:#7a0d03;
    
    opacity:.7;
    
    color:white;
    width:150px;
    
    
    padding:10px;
    border: 3px solid white;
    top:-40px;
    left:40px;
    z-index:1;
    
}

.hotSpotLine{
    position:relative;
   width:100%;
   margin-left:-59px;
   margin-top:-59px;
    z-index:1;
    stroke-width:2;
    
    
}
.hotSpot{
    position:absolute;
    display:block;
    width:10px;
    height:10px;
    background-color:rgba(253, 253, 253, .5);
    border-radius:10px;
    z-index:99;
    
    
   
    
    
}
.hotSpot:hover{
    background-color:white;
    animation-name:pulsing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  
}
@-moz-keyframes pulsing {
    0%
    {
        background-color:rgba(253, 253, 253, 0);
        -moz-transform: scale(1, 1); opacity: 1;
    }
  
    100%
    {
       
        -moz-transform: scale(3, 3); opacity: .0;
    }
}
@-o-keyframes pulsing {
    0%
    {
        background-color:red;
        -o-transform: scale(1, 1); opacity: 1;
    }
   
    100%
    {
        
        -o-transform: scale(3, 3); opacity: .0;
    }  
}
@-webkit-keyframes pulsing {
    0%
    {
        background-color:red;
        -webkit-transform: scale(1, 1); opacity: 1;
    }
   
    100%
    {
        
        -webkit-transform: scale(3, 3); opacity: .0;
    }

}
@keyframes pulsing {
    0%
    {
        background-color:red;
        transform: scale(1, 1); opacity: 1;
    }
    
    100%
    {
        
        transform: scale(3, 3); opacity: .0;
    }
}